[submodule "glfw"]
	path = glfw
	url = git@github.com:glfw/glfw.git
[submodule "glew"]
	path = glew
	url = https://github.com/nigels-com/glew.git
[submodule "stb"]
	path = stb
	url = git@github.com:nothings/stb.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
